@use '../../lib/layout';
@use '../../lib/typography';

.toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: space-between;
  padding: 0 layout.$normal-gap;
  height: 3rem;
  border-bottom: 1px solid var(--guideline-color);
  background-color: var(--focus-bg-color);
}

.toolbar--primary {
  background-color: var(--main-bg-color);

  > .toolbar-section > .toolbar-heading {
    color: var(--primary-fg-color);
  }
}

.toolbar-section {
  display: flex;
  align-items: center;
  gap: layout.$small-gap;

  > * {
    margin: 0;
  }
}

.toolbar-heading {
  @include typography.heading;
  line-height: 3rem;
}

.toolbar-status {
  line-height: 3rem;
  font-size: typography.$hinted-size;
  color: var(--hinted-fg-color);
}
