.view {
  display: grid;
  grid-template:
    'sidebar panel toolbar toolbar' auto
    'sidebar panel content details' 1fr / auto auto 1fr auto;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  overflow: hidden;

  > main,
  > .subview {
    grid-area: content;
  }

  > .sidebar {
    grid-area: sidebar;
  }
}
