@use 'sass:math';
@use '../../lib/motion';

@keyframes view-enter {
  0% {
    box-shadow: 0 0 4rem 4rem rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    opacity: 0;
    transform: scale(0.9) translateY(-7rem);
  }

  @for $i from 1 through 9 {
    #{$i * 10%} {
      $value: $i / 10 * (math.$pi / 2);
      transform: scale(#{0.9 + 0.1 * (1 - math.cos($value))})
        translateY(#{-7rem * (1 - $i / 10)});
    }
  }

  100% {
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
    transform: none;
  }
}

.view {
  display: grid;
  grid-template:
    'sidebar panel toolbar toolbar' auto
    'sidebar panel content details' 1fr / auto auto 1fr auto;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  overflow: hidden;
  animation: motion.$welcome 0s 1 normal both running view-enter;

  > main,
  > .subview {
    grid-area: content;
  }

  > .sidebar {
    grid-area: sidebar;
  }
}
